
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Foundation 5</title>

    <link rel="stylesheet" href="/css/styles.css" />

  
  <!--CDN for dev only. Use custom build for production - http://modernizr.com/download/-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>

</head>
<body>
   <!-- Nav Bar --> 
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="/todo" class="button">Todo</a></li>
         <li><a href="/" class="button">Users</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Nav -->
  
  {% block content %}{% endblock %}

   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="/js/script.js"></script>

	
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
